.exampleSparqlOutput.xml.swp
*.pyc
*.swp
FlaskKasadaka/FlaskKasadakaVenv/*
FlaskKasadaka/FlaskKasadakaVenv
FlaskKasadaka/FlaskKasadaka/FlaskKasadakaVenv/*
.idea
app
html/audio/user_recordings/*
FlaskKasadaka/FlaskKasadaka/static/audio/user_recordings/*
