.exampleSparqlOutput.xml.swp
*.pyc
*.swp
FlaskKasadaka/FlaskKasadakaVenv/*
FlaskKasadaka/FlaskKasadakaVenv
FlaskKasadaka/FlaskKasadaka/FlaskKasadakaVenv/*
*FlaskKasadakaVenv*
html/audio/user_recordings/*
venv
app/venv
app/instance/*
.idea*
.idea/
.idea
.idea/*
app/KasaDaka/static/audio/user_recordings/*
