.exampleSparqlOutput.xml.swp
*.pyc
*.swp
FlaskKasadaka/FlaskKasadakaVenv/*
FlaskKasadaka/FlaskKasadakaVenv
FlaskKasadaka/FlaskKasadaka/FlaskKasadakaVenv/*
html/audio/user_recordings/*
app/venv
app/instance/*