<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../static/css/pure-min.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="../static/css/layouts/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="../static/css/layouts/side-menu.css">
    <!--<![endif]-->

{% block title %}
    <title>KasaDaka admin</title>
{% endblock %}
</head>
{% endblock %}
<body>

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#">KasaDaka</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/FlaskKasadaka/admin" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="/FlaskKasadaka/admin/list?uri=687474703A2F2F6578616D706C652E6F72672F666F726F62612D626C6F6E2F6D657373616765" class="pure-menu-link">Messages</a></li>
            </ul>
        </div>
    </div>

    <div id="main">
    	<div class="pure-g">
    		<div class="pure-u-1-5" height=100px>
    			<img class="pure-img" src="../static/fb.png" alt="Foroba-blon logo">
    		</div>
			<div class="pure-u-4-5">
        		<div class="header">
					<h1>Foroba Blon</h1>	
					<h2>KasaDaka admin panel</h2>
       			 </div>
       		</div>
       	</div>

        
    </div>
</div>





<script src="../static/js/ui.js"></script>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class="content">
<div class="pure-g">
{% block body %}
This is the KasaDaka administrator interface.
{% endblock %}
</div>
 </div>
</body>
</html>

