{% extends "admin/index.html" %}
{% block body %}

<div class="pure-u-1-1">
<h2 class="content-subhead">Mara {{objectTypeLabel}}</h2>
<!-- <a href="new?uri={{objectTypeBaseEncoded}}">Create new {{objectTypeLabel}}</a> --!>
<p>
<table class="pure-table-horizontal">
    <thead>
    <tr>
    {% for label in fieldNames %}
        <td>{{label}}</td>
    {% endfor %}
    </tr>
    </thead>

<tbody>
  {% for record in data %}    
<tr>
    <td><a href="object?uri={{ recordURIs[loop.index-1][0] }}">{{ recordURIs[loop.index-1][1]  }}</a></td>
    {% for field in record%}
    {% if not loop.index is equalto 1 %}
    <td>{{field}}</td>
    {% endif %}
    {% endfor %}
</tr>
  {% endfor %}
  </tbody>
</table>
</p>
</div>
{% endblock %}
