{% extends "admin/index.html" %}
{% import "admin/voiceLabels.html" as voiceLabelsHtml %}


{% block body %}
<h2>Record and upload missing audio voicelabels</h2>



<p>{{ uri }}</p>


<b>Some data about this Resource:</b>
<table>
{% for prop in data %}
<tr>
<td>{{prop[0]}}</td>
<td>{{prop[1]}}</td>
</tr>
{% endfor %}
</table></br>
Audio file language to upload: {{language}}
<form enctype="multipart/form-data" method="post" action='audio'>
Audio file destination:<input type="text" name="filename" value="{{proposedWavURL}}"></br>
Audio file:<input type="file" name="file"></br>
<input type="hidden" name="uri" value="{{uri}}">
<input type="hidden" name="lang" value="{{langURI}}">
<input type="submit" value="Upload and insert voicelabel">

</form>
{% endblock %}
