
{% extends "admin/index.html" %}
{% import "admin/voiceLabels.html" as voiceLabelsHtml %}


{% block body %}
<form enctype="multipart/form-data" method="get" action='reminders'>
<select name="uri">
{% for resource in users %}
<option{% if uri == resource[0] %} selected="selected"{% endif %}>{{resource[0]}}</option>
{% endfor %}
</select>
<input type="submit" value="Select User">
</form>

<br/>Sample reminder:

<audio controls><source src="{{reminderURL}}" type="audio/wav"></audio>

{% endblock %}