{% extends "admin/index.html" %}
{% import "admin/voiceLabels.html" as voiceLabelsHtml %}


{% block body %}
<h2>User</h2>



<p>User information: {{ uri }} </p>
<form method="post" action="user">
<table>
    {% for field in fieldNames %}    
    <tr>
        <td>{{ field }}</td>
        <td>{% if not new %}{{ user[1][loop.index-1] }}{%endif%}</td>
        <td><input type="text" name="{{ user[0][loop.index-1] }}" value="{% if not new %}{{ user[1][loop.index-1] }}{%endif%}"></td>

    </tr>
    {% endfor %}



</table>
{% if not new %}
<input type="hidden" name="user" value="{{uri}}">
<input type="hidden" name="action" value="update">
<input type="submit" value="Update information!">
{% else %}

<input type="hidden" name="action" value="insert">
<input type="submit" value="Insert new user">
{% endif %}
</form>
{% if not new %}
{{ voiceLabelsHtml.voiceLabels(voiceLabelResults) }}
{% endif %}
{% endblock %}
