{% extends "index.html" %}
{% import "voiceLabels.html" as voiceLabelsHtml %}


{% block body %}
<div class="pure-u-1-1">
<h2>Audio file management</h2>

Languages in system, click to record missing voicelabels:
<ul>
{% for language in languages %}
<li><a href="audio?lang={{language[0]}}">{{language[0]}}</a> Missing:{{language[1]}}</li>
{% endfor %}
</ul>

Not accessible wave files:
<ul>
{% for file in notAvailableWaveFiles %}
<li>{{file}}</li>
{% endfor %}
</ul>
Not accessible INTERFACE wave files:<br/>
Unfortunately there is not yet an upload page for interface files. Please save the files there manually. Use the following command to convert your wave files to the correct encoding:<br/>
sox INPUT -r 8k -c 1 -e signed-integer OUTPUT
<ul>
{% for file in waveFilesInterface %}
<li>{{file}}</li>
{% endfor %}
</ul>
</div>
{% endblock %}
