{% extends "index.html" %}
{% import "voiceLabels.html" as voiceLabelsHtml %}


{% block head %}
  <style type='text/css'>
    ul { list-style: none; }
    #recordingslist audio { display: block; margin-bottom: 10px; }
  </style>
{% endblock %}

{% block body %}
<h2>Record and upload missing audio voicelabels</h2>

URI's without a <b>{{ languageLabel }}</b>:<br/>
<form enctype="multipart/form-data" method="get" action='audio'>
<input type="hidden" name="lang" value="{{langURI}}">
<select name="uri">
<option>SELECT URI</option>
{% for resource in resourcesMissingVoicelabels %}
<option{% if uri == resource[0] %} selected="selected"{% endif %}>{{resource[0]}}</option>
{% endfor %}
</select>
<input type="submit" value="Select URI">
</form>

URI's WITH a <b>{{ languageLabel }}</b>:<br/>
<form enctype="multipart/form-data" method="get" action='audio'>
<input type="hidden" name="lang" value="{{langURI}}">
<select name="uri">
<option>SELECT URI</option>
{% for resource in resourcesHavingVoicelabels %}
<option{% if uri == resource[0] %} selected="selected"{% endif %}>{{resource[0]}}</option>
{% endfor %}
</select>
<input type="submit" value="Select URI">
</form>

<h3>{{ uri }}</h3>


<b>Some data about this Resource:</b>
<table>
{% for prop in data %}
<tr>
<td>{{prop[0]}}</td>
<td>{{prop[1]}}</td>
</tr>
{% endfor %}
</table></br>
{{ voiceLabelsHtml.voiceLabels(voiceLabelResults) }}
<br/>
  <p><b>RECORDING AUDIO NOT WORKING? Make sure you are using a recent version of Google Chrome. Make sure you are connected through <u>https</u>!</b></p>
  <p>Language: <i>{{ languageLabel }}</i></p>
  <button onclick="startRecording(this);">record</button>
  <button onclick="stopRecording(this);" disabled>stop</button>
  
  <h2>Recordings</h2>
  <ul id="recordingslist"></ul>
  
  <h2>Log</h2>
  <pre id="log"></pre>

  <script>
  function __log(e, data) {
    log.innerHTML += "\n" + e + " " + (data || '');
  }

  var audio_context;
  var recorder;
  var latestBlob;

  function startUserMedia(stream) {
    var input = audio_context.createMediaStreamSource(stream);
    __log('Media stream created.');

    // Uncomment if you want the audio to feedback directly
    //input.connect(audio_context.destination);
    //__log('Input connected to audio context destination.');
    
    recorder = new Recorder(input);
    __log('Recorder initialised.');
  }

  function startRecording(button) {
    recorder && recorder.record();
    button.disabled = true;
    button.nextElementSibling.disabled = false;
    __log('Recording...');
  }

  function stopRecording(button) {
    recorder && recorder.stop();
    button.disabled = true;
    button.previousElementSibling.disabled = false;
    __log('Stopped recording.');
    
    // create WAV download link using audio data blob
    createDownloadLink();
    recorder.clear();
  }

  function createDownloadLink() {
  	__log('Start creating download link');
    recorder && recorder.exportWAV(function(blob) {
    	latestBlob = blob

      var url = URL.createObjectURL(blob);
      var li = document.createElement('li');
      var au = document.createElement('audio');
      var hf = document.createElement('a');
      var click = document.createElement('input');
      
      click.id = 'uploadButton';
      click.type = 'button';
      click.value = 'Upload!';
      click.onclick = function() {uploadAudio();};

      au.controls = true;
      au.src = url;
      hf.href = url;
      hf.download = new Date().toISOString() + '.wav';
      hf.innerHTML = hf.download;
      li.appendChild(au);
      li.appendChild(hf);
      li.appendChild(click);
      if (recordingslist.childElementCount > 0) {
      recordingslist.removeChild(recordingslist.childNodes[0]);
		}
      recordingslist.appendChild(li);
    });
    __log('Download link created.');
  }

  function uploadAudio() {
  

    if (confirm('Do you want to upload the latest audio recording?')) {


	__log('Start uploading');

    var formData = new FormData();

	formData.append("filename", "{{proposedWavURL}}");
	formData.append("uri", "{{uri}}");
	formData.append("lang", "{{langURI}}");
	formData.append("action", "upload");
	formData.append("file", latestBlob);

	var request = new XMLHttpRequest();
	request.open("POST", "audio",false);
	request.send(formData);
	__log(request.responseText);
	alert(request.responseText);
       __log('Uploading complete.');
       location.reload(true);
  	}	
    


  }


  window.onload = function init() {
    try {
      // webkit shim
      window.AudioContext = window.AudioContext || window.webkitAudioContext;
      navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia;
      window.URL = window.URL || window.webkitURL;
      
      audio_context = new AudioContext;
      __log('Audio context set up.');
      __log('navigator.getUserMedia ' + (navigator.getUserMedia ? 'available.' : 'not present!'));
    } catch (e) {
      alert('No web audio support in this browser!');
    }
    
    navigator.getUserMedia({audio: true}, startUserMedia, function(e) {
      __log('No live audio input: ' + e);
    });
  };
  </script>

  <script src="../static/recorder.js"></script>

<!-- <input id="clickMe" type="button" value="clickme" onclick="doFunction();" /> 


<br/>
Audio file language to upload: {{language}}
<br/>
NOTE: only wave files can be uploaded. They will automatically be converted to the correct encoding.
<br/><br/>
<form enctype="multipart/form-data" method="post" action='audio'>
Audio file destination:<input type="text" name="filename" value="{{proposedWavURL}}"></br>
Audio file:<input type="file" name="file"></br>
<input type="hidden" name="uri" value="{{uri}}">
<input type="hidden" name="lang" value="{{langURI}}">
<input type="hidden" name="action" value="upload">
<input type="submit" value="Upload and insert voicelabel">

</form>
<br/>
Recording tool: https://kasadaka-ip/wavrecord.html-->
{% endblock %}
